header {
    background-color: #808080;
    width: 200px;
    height: 500px;
}

div {
    background-color: #fea500;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    margin-left: 20px;
}